<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cha</title>
</head>
<body>
    <h2>CHA - Edit</h2>
    <form action="../cha_edit" method="post">
        <input type="hidden" name="ID_cha" value="<%- cha._id %>">
        <input type="text" value="<%- cha.Title%>" placeholder="Title Cha" name="txtCha_Title">
        <input type="submit" value="Save">
    </form>
</body>
</html>