<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cha</title>
</head>
<body>
    <h2>CHA - Add</h2>
    <form action="./cha_add" method="post">
        <input type="text" placeholder="Title Cha" name="txtCha_Title">
        <input type="submit" value="Add">
    </form>
</body>
</html>