<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>TIEU DE TRANG</h2>
        </div>
        <div id="content">
            <%- include("./" + trang, {dsCha: dsCha}) %>
        </div>
    </div>
</body>
</html>